<%= form_for [@activity.trip, @activity], html: {class: "new-activity"} do |f| %>
  <%= f.hidden_field :trip_id %>
  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name, class: "u-full-width" %>
  </div>

  <div class="row">
    <%= f.label :date %>
    <%= f.text_field :date, id: "datepicker", class: "u-full-width" %>
  </div>

  <div class="row">
    <%= f.label :description %>
    <%= f.text_field :description, class: "u-full-width" %>
  </div>

  <div class="row">
    <%= f.label :activity_type %>
    <%= select(:activity, :activity_type, [['Eat', 'eat'], ['Sleep', 'sleep'], ['Do', 'do']], prompt: "Activity Type") %>

  <div class="row">
    <%= f.label :address %>
    <%= f.text_field :address, class: "u-full-width" %>
  </div>

<%= f.submit %>
<% end %>

 <script>
    var picker = new Pikaday({ field: document.getElementById('datepicker') });
</script>
